In [2]:
print("Hello World")

Hello World

In [3]:
#Python Collections (Arrays)

#There are four collection data types in the Python programming language:

 #   List is a collection which is ordered and changeable. Allows duplicate members.
 #   Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
 #   Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
 #   Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [4]:
myPID ={'PID':'1.100','Description':'Intake air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False},'SW_module':'S_MOTOR1'}

In [5]:
myPID

{'PID': '1.100',
 'Description': 'Intake air fan',
 'Elements': {'XA': True, 'SC': True, 'M': 'True', 'V': True, 'PDI': False},
 'SW_module': 'S_MOTOR1'}

In [6]:
#List items are ordered, changeable, and allow duplicate values.
pid_list = [
    {'PID':'1.100','Description':'Intake air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.160','Description':'Intake air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.150','Description':'Exhaust air fan','Elements':{'XA':False,'SC':True,'M':'True','V':False,'PDI':False,'TSA+':True,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.200','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.210','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.220','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.230','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.240','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.250','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.218','Description':'Differencial presure','Elements':{'XA':False,'SC':False,'M':'False','V':False,'PDI':True,'TSA+':False,'F':False,'C':False},'SW_module':'S_LIMIT_HI_LO'}
]

In [7]:
len(pid_list)

10

In [8]:
def sortPid(e):
    return e['PID']


#pid_list.sort(key=sortPid)
sortByPid = sorted(pid_list,key=lambda d: d['PID'])
sortByPid
sortByElements = sorted(pid_list,key=lambda d: d['Elements']['XA'])
sortByElements

[{'PID': '1.150',
  'Description': 'Exhaust air fan',
  'Elements': {'XA': False,
   'SC': True,
   'M': 'True',
   'V': False,
   'PDI': False,
   'TSA+': True,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.218',
  'Description': 'Differencial presure',
  'Elements': {'XA': False,
   'SC': False,
   'M': 'False',
   'V': False,
   'PDI': True,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_LIMIT_HI_LO'},
 {'PID': '1.100',
  'Description': 'Intake air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.160',
  'Description': 'Intake air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.200',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.210',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.220',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.230',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.240',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.250',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'}]

In [9]:
#Tuple items are ordered, unchangeable, and allow duplicate values.
pid_tuple = (
    {'PID':'1.100','Description':'Intake air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.160','Description':'Intake air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.150','Description':'Exhaust air fan','Elements':{'XA':False,'SC':True,'M':'True','V':False,'PDI':False,'TSA+':True,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.200','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.210','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.220','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.230','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.240','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.250','Description':'Recirculation air fan','Elements':{'XA':True,'SC':True,'M':'True','V':True,'PDI':False,'TSA+':False,'F':False,'C':False},'SW_module':'S_MOTOR1'},
    {'PID':'1.218','Description':'Differencial presure','Elements':{'XA':False,'SC':False,'M':'False','V':False,'PDI':True,'TSA+':False,'F':False,'C':False},'SW_module':'S_LIMIT_HI_LO'}
)

In [10]:
pid_tuple

({'PID': '1.100',
  'Description': 'Intake air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.160',
  'Description': 'Intake air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.150',
  'Description': 'Exhaust air fan',
  'Elements': {'XA': False,
   'SC': True,
   'M': 'True',
   'V': False,
   'PDI': False,
   'TSA+': True,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.200',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.210',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.220',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.230',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.240',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.250',
  'Description': 'Recirculation air fan',
  'Elements': {'XA': True,
   'SC': True,
   'M': 'True',
   'V': True,
   'PDI': False,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_MOTOR1'},
 {'PID': '1.218',
  'Description': 'Differencial presure',
  'Elements': {'XA': False,
   'SC': False,
   'M': 'False',
   'V': False,
   'PDI': True,
   'TSA+': False,
   'F': False,
   'C': False},
  'SW_module': 'S_LIMIT_HI_LO'})

import pandas and numpy

In [11]:
import pandas as pd
import numpy as np

In [12]:
df_data_raw = pd.read_csv('PID.csv',)
df_data_raw

     ShapeKey Prop_PID_Element  Prop_PID_Number
0       16872                W             1.00
1       16944                W             2.00
2       16125               XA             1.10
3       16126               SC             1.10
4       14434                M             1.10
..        ...              ...              ...
299     34799               XA             2.34
300     34812               XA             2.35
301     34813                P             2.35
302     18619             SIA±             2.82
303     15757                L             2.99

[304 rows x 3 columns]

In [13]:
#round the values of floats
round(df_data_raw,3)

     ShapeKey Prop_PID_Element  Prop_PID_Number
0       16872                W             1.00
1       16944                W             2.00
2       16125               XA             1.10
3       16126               SC             1.10
4       14434                M             1.10
..        ...              ...              ...
299     34799               XA             2.34
300     34812               XA             2.35
301     34813                P             2.35
302     18619             SIA±             2.82
303     15757                L             2.99

[304 rows x 3 columns]

In [14]:
#show 5 first rows of the dataframe
df_data_raw.head()

   ShapeKey Prop_PID_Element  Prop_PID_Number
0     16872                W              1.0
1     16944                W              2.0
2     16125               XA              1.1
3     16126               SC              1.1
4     14434                M              1.1

In [15]:
#show 5 last rows of dataframe
df_data_raw.tail()

     ShapeKey Prop_PID_Element  Prop_PID_Number
299     34799               XA             2.34
300     34812               XA             2.35
301     34813                P             2.35
302     18619             SIA±             2.82
303     15757                L             2.99

In [16]:
#show 10 first rows of the dataframe
df_data_raw.head(10)

   ShapeKey Prop_PID_Element  Prop_PID_Number
0     16872                W            1.000
1     16944                W            2.000
2     16125               XA            1.100
3     16126               SC            1.100
4     14434                M            1.100
5     14435                V            1.100
6     18990                F            1.101
7     18997                F            1.102
8     18085                F            1.111
9     18086                F            1.112

In [17]:
# getting access to the shape attribute
df_data_raw.shape

(304, 3)

In [18]:
# display n rows
#pd.set_option('display.max_rows',302)
#df_data_raw

In [19]:
#getting access to the index attribute
df_data_raw.index

RangeIndex(start=0, stop=304, step=1)

In [20]:
#getting access to the column attributte
df_data_raw.columns

Index(['ShapeKey', 'Prop_PID_Element', 'Prop_PID_Number'], dtype='object')

In [21]:
#datatypes of each column
df_data_raw.dtypes

ShapeKey              int64
Prop_PID_Element     object
Prop_PID_Number     float64
dtype: object

In [22]:
#showing info of the dataframe
df_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ShapeKey          304 non-null    int64
 1   Prop_PID_Element  304 non-null    object
 2   Prop_PID_Number   304 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.2+ KB

In [23]:
#describing basic statistics of the dataframe
df_data_raw.describe()

           ShapeKey  Prop_PID_Number
count    304.000000       304.000000
mean   28999.789474         1.628987
std     7717.499397         0.326991
min     1769.000000         1.000000
25%    26949.750000         1.320000
50%    34675.500000         1.700000
75%    34752.250000         1.844000
max    34838.000000         2.990000

In [24]:
#lenght of dataframe (number of rows)
len(df_data_raw)

304

In [25]:
#obtaining the highest index
max(df_data_raw)

'ShapeKey'

In [26]:
#round the values of floats
round(df_data_raw,3)

     ShapeKey Prop_PID_Element  Prop_PID_Number
0       16872                W             1.00
1       16944                W             2.00
2       16125               XA             1.10
3       16126               SC             1.10
4       14434                M             1.10
..        ...              ...              ...
299     34799               XA             2.34
300     34812               XA             2.35
301     34813                P             2.35
302     18619             SIA±             2.82
303     15757                L             2.99

[304 rows x 3 columns]

In [27]:
#Show headers info
df_data_raw.columns

Index(['ShapeKey', 'Prop_PID_Element', 'Prop_PID_Number'], dtype='object')

In [28]:
#select a column with [] (prefered way)
df_data_raw['Prop_PID_Number']

0      1.00
1      2.00
2      1.10
3      1.10
4      1.10
       ...
299    2.34
300    2.35
301    2.35
302    2.82
303    2.99
Name: Prop_PID_Number, Length: 304, dtype: float64

In [29]:
#Select 2 columns using [[]]
df_data_raw[['Prop_PID_Number','Prop_PID_Element' ]]

     Prop_PID_Number Prop_PID_Element
0               1.00                W
1               2.00                W
2               1.10               XA
3               1.10               SC
4               1.10                M
..               ...              ...
299             2.34               XA
300             2.35               XA
301             2.35                P
302             2.82             SIA±
303             2.99                L

[304 rows x 2 columns]

In [30]:
#Select 2 columns or more
df_data_raw[['Prop_PID_Number','Prop_PID_Element','ShapeKey']]

     Prop_PID_Number Prop_PID_Element  ShapeKey
0               1.00                W     16872
1               2.00                W     16944
2               1.10               XA     16125
3               1.10               SC     16126
4               1.10                M     14434
..               ...              ...       ...
299             2.34               XA     34799
300             2.35               XA     34812
301             2.35                P     34813
302             2.82             SIA±     18619
303             2.99                L     15757

[304 rows x 3 columns]

In [31]:
#adding a new column with a scalar value
df_data_raw['Line'] = 1

In [32]:
#round the values of floats
round(df_data_raw,3)

     ShapeKey Prop_PID_Element  Prop_PID_Number  Line
0       16872                W             1.00     1
1       16944                W             2.00     1
2       16125               XA             1.10     1
3       16126               SC             1.10     1
4       14434                M             1.10     1
..        ...              ...              ...   ...
299     34799               XA             2.34     1
300     34812               XA             2.35     1
301     34813                P             2.35     1
302     18619             SIA±             2.82     1
303     15757                L             2.99     1

[304 rows x 4 columns]

In [33]:
#create random integer numbers betwenn 1 and 100
int_random_numbers = np.random.randint(1, 100, size=len(df_data_raw))
int_random_numbers

array([26, 79, 59, 15, 40, 53, 78, 32,  3, 36, 80, 46, 54, 29, 44, 64, 18,
       68, 19, 43, 79, 75, 65,  4, 90, 26, 69, 92, 94, 19, 39,  9, 35, 57,
       75, 57, 50, 13, 93, 30, 66, 62, 92, 21, 81, 10, 31, 95, 92, 98, 66,
       79, 93, 41, 65, 45, 64, 84, 74, 21, 48, 76,  2, 86, 28, 99, 10, 74,
       20, 96, 32, 42, 71, 62, 25, 41, 62, 42, 38, 27, 11, 92, 77, 17, 71,
       51, 14, 51, 65, 60, 92, 80, 78, 13, 70, 47, 47, 46, 17, 88, 98, 50,
       23,  3, 14, 70,  6, 81, 57,  5, 26, 14, 67, 89, 77, 72,  7, 83,  1,
       66, 54,  7,  9, 50, 33, 92, 19, 10, 56, 51, 29, 65, 73, 37, 39, 90,
       45, 28, 89, 94, 49, 56, 19, 47, 12, 65, 32, 85, 40,  3,  4, 39, 77,
       45, 39, 55, 63, 21, 46, 47, 25, 52, 16, 32, 41, 53, 28, 67, 33,  7,
        3,  9, 32, 10, 21, 67, 54, 94, 49, 69, 53, 45,  8, 12,  9, 15, 11,
       11, 92, 71, 51, 53, 98, 27, 42, 56, 52, 77, 47, 10, 17, 82, 27, 66,
       23, 77, 76, 50,  4,  1, 90, 76, 20,  6, 49, 81, 35, 49, 45, 27, 29,
       25, 83, 89, 57, 79, 41, 36, 44, 34, 40, 37, 16,  9, 95, 27, 49,  7,
       91, 44, 95, 87, 74, 61, 19, 81, 66, 31, 63, 41, 67, 97, 55, 89,  7,
       90,  4, 34, 36, 81, 48, 67,  2, 75, 83,  6,  3, 54, 83, 36, 43, 28,
       97, 54, 61, 13, 20, 79, 82, 55, 16, 84,  2, 76, 25, 80, 70,  1, 38,
       47, 61, 63, 38, 99, 77, 13,  7, 81, 39, 48, 17, 40, 47, 60])

In [34]:
#check lenght value
len(int_random_numbers)

304

In [35]:
#adding a new column with random numbers

df_data_raw['Random numbers'] = int_random_numbers

In [36]:
df_data_raw.head()

   ShapeKey Prop_PID_Element  Prop_PID_Number  Line  Random numbers
0     16872                W              1.0     1              26
1     16944                W              2.0     1              79
2     16125               XA              1.1     1              59
3     16126               SC              1.1     1              15
4     14434                M              1.1     1              40

In [37]:
#Operation in columns
#df_data_raw[['Random numbers']].count()
df_data_raw[['Random numbers']].mean()
#df_data_raw[['Random numbers']].std()
#df_data_raw[['Random numbers']].max()
#df_data_raw[['Random numbers']].min()

Random numbers    48.549342
dtype: float64

In [38]:
df_data_raw.describe()

           ShapeKey  Prop_PID_Number   Line  Random numbers
count    304.000000       304.000000  304.0      304.000000
mean   28999.789474         1.628987    1.0       48.549342
std     7717.499397         0.326991    0.0       28.072000
min     1769.000000         1.000000    1.0        1.000000
25%    26949.750000         1.320000    1.0       25.750000
50%    34675.500000         1.700000    1.0       48.000000
75%    34752.250000         1.844000    1.0       73.250000
max    34838.000000         2.990000    1.0       99.000000

In [39]:
#Operations in row
#calculation sum in a row
df_data_raw[['Random numbers']] + df_data_raw[['Random numbers']]

     Random numbers
0                52
1               158
2               118
3                30
4                80
..              ...
299              96
300              34
301              80
302              94
303             120

[304 rows x 1 columns]